<!DOCTYPE html>
<html>
<head>
    <title>Panel de Administración</title>
</head>
<body>
    <h1>Panel de Administración</h1>

    <h1>  <a href="/admin">Salir</a> </h1>
    {% if datos %}
    <h2>Comentarios realizadas por usuarios</h2>
    <table>
        <thead>
            <tr>
                <th>username</th>
                <th>comment</th>
                <th>date</th>
             

            </tr>
        </thead>
        <tbody>
            {% for dato in datos %}
                <tr>
                    <td>{{ dato.username }}</td>
                    <td>{{ dato.comment }}</td>
                    <td>{{ dato.date }}</td>

                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No hay datos en la base de datos.</p>
{% endif %}
</body>
</html>
