
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='tabla.css') }}">
  

<table class="cinereousTable">
    <thead>
    <tr>
    <th>head1</th>
    <th>head2</th>
    <th>head3</th>
    <th>head4</th>
    <th>head5</th>
    </tr>
    </thead>
    <tfoot>
    <tr>
    <td>foot1</td>
    <td>foot2</td>
    <td>foot3</td>
    <td>foot4</td>
    <td>foot5</td>
    </tr>
    </tfoot>
    <tbody>
    <tr>
    <td>cell1_1</td><td>cell2_1</td><td>cell3_1</td><td>cell4_1</td><td>cell5_1</td></tr>
    <tr>
    <td>cell1_2</td><td>cell2_2</td><td>cell3_2</td><td>cell4_2</td><td>cell5_2</td></tr>
    <tr>
    <td>cell1_3</td><td>cell2_3</td><td>cell3_3</td><td>cell4_3</td><td>cell5_3</td></tr>
    <tr>
    <td>cell1_4</td><td>cell2_4</td><td>cell3_4</td><td>cell4_4</td><td>cell5_4</td></tr>
    <tr>
    <td>cell1_5</td><td>cell2_5</td><td>cell3_5</td><td>cell4_5</td><td>cell5_5</td></tr>
    </tbody>
    </tr>
    </table>