{% extends "nav.html" %}
{% block title %}Login / Photovolta{% endblock %}
{% block content %}
<link rel="shortcut icon" href="{{ url_for('static', filename='images/iconardo.png') }}">
<html>
  

  <meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="static/css/main.css" />
		<noscript><link rel="stylesheet" href="static/css/noscript.css" /></noscript>

  <header id="header">
    <h1>Nuestros datos</h1>
    <p>¡Aqui puedes ver las entradas del resto de usuarios!</p>
</header>
<body >
		


			<!-- Main -->
			<style>
				#main {
					background-color: #fdfdfd00;
					color: #636363;
					border-radius: 0.25em;
				}
			</style>
        <iframe src="mapeado" width="75%" height="750"></iframe>
			

				<!-- Footer -->
			

			</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>


            
	</body>
</html>

{% endblock %}


