<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_ea05cec060af68ee4872d67d8ef49e02 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
    <script src="https://cdn.jsdelivr.net/gh/python-visualization/folium@main/folium/templates/leaflet_heat.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/ardhi/Leaflet.MousePosition/src/L.Control.MousePosition.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/ardhi/Leaflet.MousePosition/src/L.Control.MousePosition.min.css"/>
</head>
<body>
    
    
            <div class="folium-map" id="map_ea05cec060af68ee4872d67d8ef49e02" ></div>
        
</body>
<script>
    
    
            var map_ea05cec060af68ee4872d67d8ef49e02 = L.map(
                "map_ea05cec060af68ee4872d67d8ef49e02",
                {
                    center: [40.4167047, -3.7035825],
                    crs: L.CRS.EPSG3857,
                    zoom: 5,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_65ae75f152ed4ecdb292302950a6cb3a = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca target=\"_blank\" href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca target=\"_blank\" href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_ea05cec060af68ee4872d67d8ef49e02);
        
    
            var heat_map_c385b570d4d5165d92400b5a81d1f471 = L.heatLayer(
                [],
                {"blur": 15, "maxZoom": 18, "minOpacity": 0.5, "radius": 10}
            ).addTo(map_ea05cec060af68ee4872d67d8ef49e02);
        
    
            var feature_group_18a97151505fad55d54f4f7bf2f8361e = L.featureGroup(
                {}
            ).addTo(map_ea05cec060af68ee4872d67d8ef49e02);
        
    
            var mouse_position_0b31e3d5474cff53b2a764963615a99f = new L.Control.MousePosition(
                {"emptyString": "Unavailable", "lngFirst": false, "numDigits": 5, "position": "bottomright", "prefix": "", "separator": " : "}
            );
            mouse_position_0b31e3d5474cff53b2a764963615a99f.options["latFormatter"] =
                undefined;
            mouse_position_0b31e3d5474cff53b2a764963615a99f.options["lngFormatter"] =
                undefined;
            map_ea05cec060af68ee4872d67d8ef49e02.addControl(mouse_position_0b31e3d5474cff53b2a764963615a99f);
        
    
            var layer_control_2af6a4bc6fca7919b1afdbba85e9476d = {
                base_layers : {
                    "openstreetmap" : tile_layer_65ae75f152ed4ecdb292302950a6cb3a,
                },
                overlays :  {
                    "Sensores" : heat_map_c385b570d4d5165d92400b5a81d1f471,
                    "Sensores - Imagenes" : feature_group_18a97151505fad55d54f4f7bf2f8361e,
                },
            };
            L.control.layers(
                layer_control_2af6a4bc6fca7919b1afdbba85e9476d.base_layers,
                layer_control_2af6a4bc6fca7919b1afdbba85e9476d.overlays,
                {"autoZIndex": true, "collapsed": true, "position": "topright"}
            ).addTo(map_ea05cec060af68ee4872d67d8ef49e02);
            feature_group_18a97151505fad55d54f4f7bf2f8361e.remove();
        
</script>
</html>